<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTARAA Landing Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header class="navbar">
        <h1 class="logo">INTARAA</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signin.html">Sign In</a></li>
        </ul>
    </header>
    
    <section class="new_hope">
        <h1>About Us</h1>
    </section>

    <script src="../js/navbarsettings.js"></script>
</body>
</html>